root{
    --cor-principal: #3498db;
    --cor-secundaria: #2ecc71;
    --cor-fundo: #ecf0f1;
    --cor-texto: black;
}
body {
  background-color: white;
}
/*estilo geral(padrão)da pagina*/
body{
    font-family: arial, sans-serif;
    margin:1,4;
}
/*só home*/
body.home{
    background: lightblue;
    color:#cc2e2e; /*cor texto vermelha*/
}
/*só sobre*/
body.sobre{
    background: lightgreen;
    color:blue; /*cor texto azul*/
}

